*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:linear-gradient(
        135deg,
        #4c1d95,
        #6d28d9,
        #8b5cf6
    );

    min-height:100vh;
    padding:30px;
}

.container{
    display:flex;
    justify-content:center;
}

.card{
    width:100%;
    max-width:900px;

    background:white;

    padding:30px;

    border-radius:20px;

    box-shadow:0 15px 30px rgba(0,0,0,.15);
}

.card h1{
    text-align:center;
    color:#5b21b6;
    margin-bottom:10px;
}

.card h2{
    text-align:center;
    color:#777;
    margin-bottom:30px;
    font-size:18px;
}

.form-group{
    margin-bottom:18px;
}

.form-group label{
    display:block;
    margin-bottom:8px;
    font-weight:600;
    color:#444;
}

input,
select,
textarea{
    width:100%;

    padding:12px;

    border:1px solid #ddd;

    border-radius:10px;

    outline:none;

    font-size:15px;
}

input:focus,
select:focus,
textarea:focus{
    border-color:#6d28d9;
}

.grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:15px;
}

button{
    width:100%;

    padding:15px;

    border:none;

    border-radius:12px;

    background:#6d28d9;

    color:white;

    font-size:16px;

    font-weight:bold;

    cursor:pointer;

    transition:.3s;
}

button:hover{
    background:#5b21b6;
}

@media(max-width:700px){

.grid{
    grid-template-columns:1fr;
}

.card{
    padding:20px;
}

}